<h2 class="font">Chat</h2>
<div class="mt-4 mb-5">
    <div class="mb-3" *ngFor="let a of myMessages">
        <label for="">{{a.usuario}}</label>
        <span>{{a.texto}}</span>
    </div>
</div>
    
<div>
    <form action="" class="form-chat" novalidate="true" #chatFormulario="ngForm" (ngSubmit)="getDataForm(chatFormulario)"> <!--novalidate es para que no salten las validaciones que trae por defecto el navegador-->
        <div>
            <input type="text" class="form-control input-mensaje" placeholder="Escribe un mensaje..." name="input" ngModel>
        </div>
        <!--En los formularios se deben usar input de tipo submit en vez de button-->
        <input type="image" value="" src="../../../assets/icons/icon_enviar.png" class="input-enviar me-3">
    </form>
</div>
