.chat{
    display: flex;
    flex-direction: column;
}

.font{
    color: var(--orange);
}

.form-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.input-mensaje{
    width: 80%
}

.input-enviar{
    width: 8%;
}

.container-newmsg{
    display: flex;
    gap: 10px;
    align-items: center;
}


.container-msg{
    display:flex;
    flex-direction: column;
    width: 95%;
    gap: 10px;
    border-radius: 7px 7px 7px 0;
    background-color: lightgray;
    width: 100%;
}

.chat-msg{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 10px;
}

.datetime{
    font-size: 0.8rem;
}