<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row">
      <div class="col-md-6">
        <p class=" mt-2 mb-3 h4 text-start">Sube tu imagen de {{ tipo }}</p>
          <!-- Botones aquí -->
          <input class="custom-file-upload" type="file" accept=".jpg" (change)="onFileSelected($event)" />
          <br />
          <div *ngIf="selectedFile">
              <p style="padding-top: 2rem;">Nombre del archivo: {{ selectedFile.name }}</p>
              <button class="btn-xs btn-primary btn-lg btn_personal rounded-pill mt-3"
                  (click)="onSubmit()">Subir</button>
          </div>

          <div *ngIf="!selectedFile">
              <button class="btn-xs btn-primary btn-lg btn_personal rounded-pill mt-3"
                  (click)="onSubmit()">Subir</button>
          </div>
      </div>
      <div class="col-md-6">
          <!-- Imagen aquí -->
          <div *ngIf="selectedFile">
            <img [src]="getImageUrl(selectedFile)" alt="Imagen seleccionada" class="img-thumbnail img-fluid"
                style="max-width: 100%; max-height: 500px;"> <!-- Ajusta la altura aquí -->
        </div>
      </div>
  </div>
</div>

