input {
  border: none;
  background-color: var(--grey);
}
.text-color{
    color: var(--orange);
}
.btn_personal {
  padding: 0.7rem 2rem;
  background-color: var(--orange);
  color: white;
  border: none;
}

.btn_personal:hover {
  background-color: var(--light_orange);
}

.newUserForm{
  width: 60%;
  margin: 0 auto;
  display: flex;

}

.fotoUser{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
