<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
	<h2>Restablece tu contraseña</h2>

	<div class="mb-3">
		<label for="email" class="form-label">Email de usuario</label>
		<input type="text" class="form-control" placeholder="Introduce tu email" id="email" formControlName="email">
		@if(checkControl('email', 'required')){
			<p class="error text-danger">Campo requerido</p>
		}

		@if(checkControl('email', 'pattern')){
			<p class="error text-danger">Campo no es de tipo email</p>
		}

	</div>
	<div class=" d-fluid gap-3">
		<button type="button" class="btn btn-primary btn-lg  btn_cancelar mb-3 rounded-pill me-3">Cancelar</button>
		<button type="submit" class="btn btn-primary btn-lg btn_personal mb-3 rounded-pill">Enviar</button>
	</div>



</form>
