.bg-orange {
	background-color: var(--orange);
	position: relative;
	left: -75px;
	top: 0px;
	transform: rotate(-2.50deg);
}

.btn_personal {
	padding: 0.7rem 2rem;
	background-color: var(--orange);
	color: white;
	border: none;
}

.btn_personal:hover {
	background-color: var(--light_orange);
}


.btn_cancelar {
	padding: 0.7rem 2rem;
	background-color: var(--light_orange);
	color: white;
	border: none;
}

.btn_cancelar:hover {
	background-color: var(--orange);
}
