<header>
  <app-navbar></app-navbar>
</header>
<main>
<div style="margin-top: 70px;"></div>
  <section class="container">
      <div class="">
          <!--<img src="assets/images/header_home.jpg" class="group-image rounded" alt="Amigos comiendo pizza">-->
          <img src="assets/images/header_grupos_copia2.jpg" class="group-image rounded" alt="Amigos">
      </div>
      <div class="row">
          <div class="col-12 col-md-6 pe-5 pt-5 pb-5 d-flex flex-column gap-4 texto">
              <h2 class="font">{{group.nombre}}</h2>
              <p class="fs-5">{{group.descripcion}}</p>
          </div>
      </div>

      <div class="">
          <h3 class="font">Usuarios</h3>
          <div class="mt-3">
              @for(user of users; track user.idUsuario){
                  <span class="fs-5">{{user.nombre}} {{user.apellidos}} ; </span>
              }
          </div>
      </div>

      <section class="mt-5 section">

        <div class="row ps-2">
              <div class="bg-secondary-subtle rounded-start-4 ps-4 pe-4 pt-5">
                  <div>@if(this.spents && this.spents.length === 0) {
                    <div class="text-start ps-2">Aún no has añadido ningún gasto</div>
                  }
                  @else {
                      @for(spent of spents; track spent.idGasto; let i = $index) {
                          <article class="mb-3">
                              <app-spent-card [mySpent]="spent" [numSpent]="i+1"></app-spent-card>
                          </article>
                      }
                  }
                  </div>

                  <!--<div class="container-total mt-4 pb-5">
                      <span class="fs-2 ps-4 totaltext">Total</span>
                      <span class="fs-2 importe">{{totalSpent}} €</span>
                      <span class="fs-6 gasto">AÑADIR GASTO</span>
                      <div class="iconmas-container">
                          <a [routerLink]="['/newspent', group.idGrupo]">
                              <img src="assets/icons/icon_mas.png" class="icon-mas" alt="Icono añadir">
                          </a>
                      </div>
                  </div>-->

                  <div class="container-total mt-4 pb-5">
                    <div class="row align-items-center">
                      <div class="col">
                        <span class="fs-2 totaltext" style="margin-left: 1rem;" >Total</span>
                      </div>
                      <div class="col">
                        <span class="fs-2 importe">{{ totalSpent }} €</span>
                        <span class="fs-2"></span>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col">
                        <div class="d-flex align-items-center justify-content-between">
                          <span class="fs-6 gasto" style="white-space: nowrap; margin-right: 1rem;">Añadir gasto</span>
                          <div class="iconmas-container">
                            <a [routerLink]="['/newspent', group.idGrupo]">
                              <img src="assets/icons/icon_mas.png" class="icon-mas" alt="Icono añadir" style="width: 40px; height: 40px;">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



              </div>

              <div class ="bg-secondary-subtle rounded-start-4 mt-3 ps-5 pt-3 pb-3 reparto ">
                  <div class="deudas"> <!-- Para alinear el reparto y el boton hace falta un d-flex  align-items-center justify-content-between pero eso hace que cuando el grupo tiene gastos, se pongan todos un al lado del otro. habria que hacer un if, para que si no hay gastos, se alinease y si hubiese gastos, se quedase como está-->
                      <h2 class="font">Reparto</h2>
                      @for(deuda of deudas; track deuda.id_deuda) {
                          <p class="pt-4">{{deuda.deuda}}</p>
                      }
                  </div>
                  <button class="pt-2 pb-2 me-5 rounded-5 btn-liquidar" (click) = "onClickLiquidar()">LIQUIDAR GASTOS</button>
              </div>
          </div>

          <div class="rounded-end-4 ps-4 pt-5 chat">
              <app-chat></app-chat>
          </div>
      </section>
  </section>
</main>
