<header>
    
    <app-navbar></app-navbar>

</header>
<main>
    <section class="container mt-5">
        <div class="">
            <img src="assets/images/header_home.jpg" class="group-image" alt="Amigos comiendo pizza">
        </div>
        <div class="row">
            <div class="col-12 col-md-6 pe-5 pt-5 pb-5 d-flex flex-column gap-4 texto">
                <h2 class="font">{{group.nombre}}</h2>
                <p class="fs-5">{{group.descripcion}}</p>
            </div>
        </div>

        <div class="column-gap-0">
            <h3 class="font">Usuarios</h3>
            <div class="mt-3"> 
                @for(user of users; track user.idUsuario){
                    <span class="fs-5">{{user.nombre}} {{user.apellidos}} ; </span>
                }
            </div>
        </div>

        <section class="container-fluid mt-5 seccion">
        
            <div class="bg-secondary-subtle column-gap-5 gastos">
                <div>
                    @for(spent of spents; track spent.idGasto; let i = $index) {
                        <article class="mt-3 mb-3">
                            <app-spent-card [mySpent]="spent" [numSpent]="i+1"></app-spent-card>
                        </article>
                    }
                </div>

                <div class="container-total">
                    <span class="fs-2 totaltext">Total</span>
                    <span class="fs-2 importe">{{totalSpent}} €</span>
                    <span class="fs-6 gasto">AÑADIR GASTO</span>
                    <a href="" class="iconcompra-container">
                        <img src="assets/icons/icon_mas.png" class="icon-mas" alt="Icono añadir">
                    </a>
                </div>
                <div>
                    <button>Liquidar grupo</button>
                </div>
            </div>

            <div class="chat">
                <app-chat></app-chat>
            </div>
    </section>

    </section>
</main>

<app-footer></app-footer>
