<app-navbar></app-navbar>
<section class="container mt-2">
	<form [formGroup]="newPassForm" (ngSubmit)="getDataForm()">

		<div class="my-2">
			<label for="password" class="form-label">password</label>
			<input type="password" class="form-control" placeholder="introduce un password" id="password"
				formControlName="password">
		</div>

		<div class="my-2">
			<label for="repitepass" class="form-label">Repite password</label>
			<input type="password" class="form-control" placeholder="introduce un password" id="repitepass"
				formControlName="repitepass">
		</div>


		@if(newPassForm.hasError('checkpassword')){
		<p class="error">Los campos password y repitepassword no coinciden</p>
		}

		<input type="submit" value="Enviar" class="btn btn-secondary" [disabled]="!newPassForm.valid">
	</form>

</section>
