<app-navbar></app-navbar>
<section class="container mt-2">
	<form [formGroup]="newPassForm" (ngSubmit)="onSubmit()">

		<div class="my-2">
			<label for="password" class="form-label">password</label>
			<input type="password" class="form-control" placeholder="introduce un password" id="password"
				formControlName="password">
		</div>

		<div class="my-2">
			<label for="confirmPassword" class="form-label">Repite password</label>
			<input type="password" class="form-control" placeholder="introduce un password" id="repitepass"
				formControlName="confirmPassword">
		</div>


		@if(newPassForm.hasError('checkpassword')){
		<p class="error text-danger">Los campos password y repitepassword no coinciden</p>
		}

		<div class=" d-flex gap-3">
			<button type="button" class="btn btn-primary btn-lg  btn_cancelar mb-3 rounded-pill">Cancelar</button>
			<button type="submit" class="btn btn-primary btn-lg btn_personal mb-3 rounded-pill">Enviar</button>
		</div>
	</form>

</section>
