a {
	color: black;
}

a:hover {
	color: var(--orange);
}

input {
	border: none;
	background-color: var(--grey);
}

.bg-orange {
	background-color: var(--orange);
	position: relative;
	left: -75px;
	top: 0px;
	transform: rotate(-2.50deg);
}

.error {
	color: tomato;
}

.btn_personal {
	padding: 0.7rem 10rem;
	background-color: var(--orange);
	color: white;
	border: none;
	font-weight: bold;
}

.btn_personal_adduser {
	font-size: 0.7rem;
	background-color: var(--orange);
	color: white;
	font-weight: bold;
}

.guardar{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
}

.btn_borrar {
	padding: 0.7rem 2rem;
	background-color: var(--light_orange);
	color: white;
	border: none;
	font-weight: bold;
}

h3 {
	color: var(--orange);
}

.custom-hr {
    border-top: 5px solid var(--grey);
    margin-top: 10px;
    margin-bottom: 10px;
}

.p{
	text-align: center;
}
.full-screen-width {
  width: 100%;
  max-height: 70%;
  height: 400px;
}

.add_user{
	display:flex;
	justify-content: space-between;
	align-items: start;
	gap: 20px;
}

.email{
	width: 85%;
}

/*-----------------------media queries tablet ---------------------------*/

@media (max-width: 1000px) {
	.full-screen-width {
    max-height: 100%;
    max-width: 100%;
  }
}


@media (max-width: 768px) {
	.bg-orange {
		background-color: var(--orange);
		position: relative;
		left: -35px;
		top: 0px;
		transform: rotate(-2.50deg);
	}

	.logo {
		width: 50px;
	}
}

/*-----------------------media queries móvil ---------------------------*/

@media (max-width: 576px) {

	.bg-orange {
		background-color: var(--orange);
		position: relative;
		left: -30px;
		top: 70px;
		transform: rotate(-2.50deg);
	}


	.logo {
		width: 40px;
	}

}
