<header>
	<app-navbar></app-navbar>
</header>
<div style="margin-top: 70px;"></div>


<header class="container container_header rounded-bottom">
	<div class="row">
		<div class="col-6 mt-5 ps-3">
			<!--<img src="assets/images/logo_divi.png" alt="Logotipo de DIVI" class="logo">-->
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-sm-7">
		<h1 class="h2 bg-orange text-white mt-5 p-3 ps-5">¡Crea, gestiona y divide los gastos!</h1>
	</div>
</header>


<section class="container mt-5">
	<div class="row align-items-center row-gap-3">
		<div class="col-lg-8 col-md-12 col-sm-12">
			<h2 class="h4 m-0"><strong>Tus grupos</strong></h2>
		</div>
		<div>
			<h4 class="texto">Lleva un registro detallado de los gastos compartidos dentro de cada grupo. Divide
				equitativamente los costos y asegúrate de que todos paguen su parte justa.</h4>
		</div>
	</div>

	<div class="mt-2">
		<div class="mx-4 row justify-content-center gap-0">
			@for(group of arrGroups; track group.idGrupo){
			@if(arrStatus[$index] === "open"){
			<article class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-1 g-4 d-flex">
				<app-group-card [myGroup]="group" class="flex-grow-1"></app-group-card>
			</article>
			}
			}
		</div>
	</div>

	<div class="mb-3 d-flex align-items-center justify-content-end pt-5 container">
		<div class=" hr_container ">
			<hr>
		</div>
		<div class="col-auto  d-flex align-items-center">
			<a class="btn change-color-on-hover" [routerLink]="['/newgroup']"><strong>AÑADIR GRUPO</strong></a>
		</div>
		<div class="col-auto d-flex align-items-center">
			<a class="btn" [routerLink]="['/newgroup']" class="rotate-on-hover">
				<img src="assets\icons\añadir_usuario.png" alt="Añadir grupo">
			</a>
		</div>
	</div>
