.rotate-on-hover:hover input {
    transition: transform 0.3s ease;
    transform: rotate(45deg);
  }

.swal2-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px !important;
}

.texto-deuda {
  width: 100%;
}

.gasto {
  font-weight: 600;
  font-size: 0.9rem;
}

.liquidar {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: end;
}

.icon-pago {
  width: 20%;
}

.rotate-on-hover:hover {
  transition: transform 0.3s ease;
  transform: rotate(45deg);
}

.swal2-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px !important;
}

