.rotate-on-hover:hover input {
    transition: transform 0.3s ease;
    transform: rotate(45deg);
  }

.texto-deuda {
  width: 100%;
}

.gasto {
  font-weight: 600;
  font-size: 0.9rem;
}

.liquidar {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: end;
}

.icon-pago {
  width: 20%;
}


@media (max-width: 550px) {
	.icon-pago {
		width: 11%;
	}
}