<header class="container container_header rounded-bottom">
	<div class="row">
		<div class="col-6 mt-3 ps-3">
			<img src="assets/images/logo_divi.png" alt="Logotipo de DIVI" class="logo">
		</div>
		<div class="col-6 mt-3">
			<a class="float-end pe-2 text-black text-decoration-none text-end" role="button">INICIAR SESIÓN</a>
		</div>
	</div>
	<div class="col-xl-5 col-lg-5 col-md-7 col-sm-10">
		<h1 class="h2 bg-orange text-white mt-5 p-3 ps-5">¡Simplifica tus cuentas compartidas con divi!</h1>
	</div>
</header>

<main>
	<section class="container mt-5">
		<div class="row align-items-center row-gap-3">
			<div class="col-lg-8 col-md-12 col-sm-12 ">
				<h2 class="h4 m-0">Únete a <strong class="">Divi</strong> y simplifica la división de gastos entre
					amigos,
					familiares o compañeros de casa. </h2>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 m-0">
				<button type="button" class="btn btn-primary btn-lg btn_personal">EMPIEZA A COMPARTIR GASTOS</button>
			</div>
		</div>
	</section>

	<section class="container mt-5">
		<div class="row row-gap-3 gap-3 justify-content-center">
			<div class="card home_card border-0 col-xl-3 col-lg-3 col-md-3 col-sm-12">
				<img src="assets/icons/icon_organigrama.png" class="card-img-top home_card" alt="Organiza gastos">
				<div class="card-body">
					<p class="card-text text-center">Organiza sin esfuerzo y mantén un registro claro de quién debe qué
						con nuestra interfaz intuitiva y fácil de usar.</p>
				</div>
			</div>
			<div class="card home_card border-0 col-xl-3 col-lg-3 col-md-3 col-sm-12">
				<img src="assets/icons/icon_division.png" class="card-img-top" alt="Divide gastos">
				<div class="card-body">
					<p class="card-text text-center">Nuestra herramienta de división de cuentas calcula automáticamente
						quién debe contribuir y cuánto, para que todos paguen su parte.</p>
				</div>
			</div>
			<div class="card home_card border-0 col-xl-3 col-lg-3 col-md-3 col-sm-12">
				<img src="assets/icons/icon_chat.png" class="card-img-top home_card" alt="Conecta con tus grupos">
				<div class="card-body">
					<p class="card-text text-center">Mantente conectado con tus amigos, familiares o compañeros de casa
						a través de nuestra plataforma, para discutir gastos, compartir recibos y más.</p>
				</div>
			</div>
		</div>

	</section>

	<section class="container mt-5">
		<div class="row row-gap-3">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<img src="assets/images/chicos_pizza.jpg" alt="Grupo de amingos compartiendo una pizza"
					class="img-fluid rounded">
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<form>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Email de usuario</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Contraseña</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<p class=" mb-3"><a href="" role="button">¿Olvidaste la contraseña?</a></p>
					<button type="submit" class="btn btn-primary btn-lg btn_personal mb-3">INICIAR SESION</button>
					<p class=" "><a href="" role="button">Si no tienes todavía, crea tu cuenta</a></p>

				</form>
			</div>

		</div>
	</section>
</main>

<app-footer></app-footer>
