<header>
  <app-navbar></app-navbar>
</header>
<div style="margin-top: 100px;"></div>

<div class="error-container">
  <div class="error-text">
      <h1>Error 404 ¡Página no encontrada!</h1>
      <p>Lo sentimos, la página que estás buscando no existe.</p>
  </div>
  <div class="error-button">
    <a routerLink="/home" class="btn btn-primary btn-lg btn_personal rounded-pill">Volver a la home</a>
  </div>
  <div class="error-image">
    <img src="assets/images/404.jpg" alt="error 404" class="img-fluid rounded">
</div>
