<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
	<div class="mb-3">
		<label for="email" class="form-label">Email de usuario</label>
		<input type="text" class="form-control" placeholder="introduce tu email" id="email" formControlName="email">
		@if(checkControl('email', 'required')){
		<p class="error text-danger">Campo requerido</p>
		}

		@if(checkControl('email', 'pattern')){
		<p class="error text-danger">Campo no es de tipo email</p>
		}

	</div>


	<button type="submit" class="btn btn-primary btn-lg btn_personal mb-3 rounded-pill">Enviar</button>
	<button type="submit" class="btn btn-primary btn-lg btn_personal mb-3 rounded-pill">Cancelar</button>

	<p class=" "><a [routerLink]="['/newuser']" role="button">Si no tienes todavía, crea tu cuenta</a></p>

</form>
